nav {
  background-color: aqua;

}

.card{
  width: 300px;
  height: 400px;
  border: 1px solid red;
  background-color: bisque;
}

img{
  width: 80px;

}

.elma{
  width: 300px;
}

.armut{
  display: flex;
  margin: 15px;
  border: 1px solid red;
  padding: 5px;
  justify-content: space-evenly;
}